.content {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1.6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toggle-content {
	display: none;
}

.toggle-content.is-visible {
	display: block;
}

#infobox {
  @include box-border($magenta);
  background-color: $super-light-grey;
  height: 100%;
  margin: 0 auto;
  padding: 1.3em;
}

main {
  height: 100%;
  margin: 1.9em 0 0 0;
}

section {
  margin-bottom: 3.8em;
}

@media screen and (min-width: $breakpoint-medium) {
  .content {
    max-width: $content-width;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  #infobox {
    min-width: 270px;
  }
  
  main {
    margin: 0 3.8em 0 0;
  }
  
  .toggle-content {
	  display: block;
  }
}