.wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 0 1.6em;

  .email-button {
    text-align: center;
    margin: 2.5em auto 0 auto;
  }
}

main {
  padding: 20px;
  flex: 1 1 auto;
}

aside {
  padding: 20px;
  display: none;
  visibility: hidden;
}

.infobox {
  @include box-border($magenta); 
  background-color: $super-light-grey;
  
  padding: 20px;
}

.category-box {
  @include box-border(darkblue); 
  background-color: $super-light-grey;
  // margin: 20px auto 0 auto;
  margin: 0 0 30px 0;
  padding: 20px;
}

section {
  margin-bottom: 3.8em;
}

.article-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .article-link {
    margin: 1.5em 0;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .wrapper {
    max-width: $content-width;
    display: flex;
    flex-direction: row;
  }

  section {
    .email-button {
      display: none;
      visibility: hidden;
    }
  }

  aside {
    display: block;
    flex: 0 0 300px;
    visibility: visible;
  }

  .infobox {   
    height: auto;
  }
}

 